<a href="https://colab.research.google.com/github/srahmawati/Pusat-Studi-Data-Sains-UAD/blob/main/Tugas_Akhir_A_St_Rahmawati_1900015039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Amazon Top 50 Bestselling Books 2009 - 2019**

# Penjelasan Dataset

Kumpulan data pada 50 buku terlaris Amazon dari 2009 hingga 2019. 
Berisi 550 buku, data telah dikategorikan ke dalam fiksi dan non-fiksi menggunakan Goodreads.

## Pertanyaan Analisis

1. Buku Non fiksi yang memiliki reviews terbanyak?
2. Berdasrkan data Amazon bestselling book, dari semua harga buku manakah yang mendapatkan ulasan tertinggi?

## Data Preparation

In [ ]:
import pandas as pd
import plotly.express as px
import numpy as np
import plotly.graph_objects as go

In [ ]:
#mengimport file csv yang sudah di upload di github
df = pd.read_csv('https://raw.githubusercontent.com/srahmawati/Pusat-Studi-Data-Sains-UAD/main/bestsellers%20with%20categories.csv')
df

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [ ]:
#untuk mengetahui jumlah data yang terdapat pada kolom Prise
df.Price.value_counts()

6      28
11     22
9      22
8      22
17     19
4      18
16     18
13     16
14     16
15     14
10     13
12     13
20     11
46     10
5       9
21      8
18      7
28      6
23      5
24      5
7       5
40      5
22      3
2       2
105     2
19      2
54      1
25      1
27      1
32      1
36      1
3       1
53      1
1       1
0       1
Name: Price, dtype: int64

In [ ]:
List_Price = list(pd.unique(df['Price']))
List_Price

[8,
 15,
 12,
 3,
 2,
 32,
 17,
 4,
 6,
 13,
 9,
 5,
 14,
 11,
 24,
 21,
 18,
 28,
 16,
 10,
 105,
 1,
 20,
 7,
 54,
 22,
 25,
 27,
 46,
 53,
 0,
 40,
 36,
 19,
 23]

In [ ]:
list_sum = []
for i in List_Price:
  df_Rev = df[df['Price'] == i]
  sum_Rev = df_Rev.Reviews.sum()
  list_sum.append(sum_Rev)

print(list_sum)

[378521, 188974, 154501, 5983, 6502, 4149, 91641, 157326, 307238, 113897, 112984, 54854, 79246, 378923, 38596, 35451, 50445, 20269, 198054, 121981, 13358, 720, 65187, 39958, 5867, 9282, 8634, 2926, 85800, 858, 2774, 6005, 807, 22068, 46416]

In [ ]:
# 1.menentukan Genre mana dengan reviews terbanyak!
df_reviews = df[df['Genre']=='Non Fiction']
df_reviews

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
8        A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
11   A Patriot's History of the United States: From...  ...  Non Fiction
..                                                 ...  ...          ...
539  Women Food and God: An Unexpected Path to Almo...  ...  Non Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[310 rows x 7 columns]

In [ ]:
#2. membuat data frame dari jumlah reviews pada setiap Price
df_Reviews = pd.DataFrame({"Price":List_Price,
              "Jumlah_Reviews":list_sum})
df_Reviews.sort_values(['Jumlah_Reviews', 'Price'], ascending=[True, False], inplace=True)
df_Reviews

    Price  Jumlah_Reviews
21      1             720
32     36             807
29     53             858
30      0            2774
27     27            2926
5      32            4149
24     54            5867
3       3            5983
31     40            6005
4       2            6502
26     25            8634
25     22            9282
20    105           13358
17     28           20269
33     19           22068
15     21           35451
14     24           38596
23      7           39958
34     23           46416
16     18           50445
11      5           54854
22     20           65187
12     14           79246
28     46           85800
6      17           91641
10      9          112984
9      13          113897
19     10          121981
2      12          154501
7       4          157326
1      15          188974
18     16          198054
8       6          307238
0       8          378521
13     11          378923

## Data Visualization

In [ ]:
#Membuat Plot 
gbr_amazon = px.bar(df_Reviews,
               x = 'Price',
               y = 'Jumlah_Reviews')

gbr_amazon.update_layout(
    title = 'Diagram Garis jumlah Reviews pada price tahun 2009 sampai 2019',
    title_font_color = 'blue',
    title_font_size = 30,

    xaxis = dict(
        title = 'Price',
        titlefont_size = 16,
        tickfont_size = 9),
    
    yaxis = dict(
        title = 'Jumlah Reviews',
        titlefont_size = 16,
        tickfont_size = 14))

gbr_amazon.show()